.popper,
.tooltip {
    position: absolute !important;
    z-index: 9999 !important;
    background: #FFC107 !important;
    color: black !important;
    width: 150px !important;
    border-radius: 3px !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) !important;
    padding: 10px !important;
    text-align: center !important;
}

.style5 .tooltip {
    background: #1E252B !important;
    color: #FFFFFF !important;
    max-width: 200px !important;
    width: auto !important;
    font-size: .8rem !important;
    padding: .5em 1em !important;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0 !important;
    height: 0 !important;
    border-style: solid !important;
    position: absolute !important;
    margin: 5px !important;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: #FFC107 !important;
}

.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B !important;
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px !important;
}

.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px !important;
    left: calc(50% - 5px) !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px !important;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px !important;
    left: calc(50% - 5px) !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px !important;
}

.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0 !important;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px !important;
    top: calc(50% - 5px) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px !important;
}

.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px !important;
    top: calc(50% - 5px) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* add-modal */
.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

.custom-input {
    margin-bottom: 15px;
}

/* end */